:root{
    --font :  "Monospace", "monaco";
    --border : 1px solid black
}

#header{
    display: grid;
    place-items: center;
    font-size:40px;
    text-align: center;
    border: var(--border);
    height: 100px;
    font-family: var(--font)
}
#motive{
    display: grid;
    place-items: center;
    border: var(--border);
    height: 200px;
}
#description{
    border: var(--border);
    height: 400px;
    display: grid;
    place-items: center;
    font-family: var(--font)
}
#hello{
    font-family: var(--font);
    font-size: 30px;
}
#openChatLink{
    text-decoration: none;
    color:black;
    transition-duration: 0.4s;
}
#openChatLink:hover{
    font-size: 17px;
}
#modeBtn{
    margin-top: -50px;
    font-size : 50px;
    background-color: transparent;
    border : none;
    transition-duration: 0.4s;
}
#modeBtn:hover{
    font-size : 55px;
}
#bottons{
    border: var(--border);
    height: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    font-family: var(--font)
}
.grid button{
    text-align: center;
    background-color: transparent;
    font-size: 30px;
    border : none;
    transition-duration: 0.4s;
}
.grid button:hover{
    font-size : 33px;
}
/* 
@media(width<385px){
    #description{
        font-size: 10px;
    }
    .grid{
        font-size: 20px;
    }
} */